<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">

    <meta property="og:url" content="https://miramappa.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{site.url}}/assets/images/hero-bg.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="miramappa.github.io">
    <meta property="twitter:url" content="https://miramappa.github.io/">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{site.url}}/assets/images/hero-bg.png">

    <meta name="theme-color" content="#8300ff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="/assets/images/favicon.ico">
    <link rel="preload" as="image" href="/assets/images/hero-bg.png" fetchpriority="high">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/{{page.additional_css}}.css">
    <script src="/assets/js/header.js" defer></script>
</head>
<body>
    <header>
        <a href="/"><div class="header-logo"></div></a>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/team">Team</a>
        </nav>
        <div class="button-container">
            <div class="button" id="lang-button">
                <div class="dropdown-list">
                    <a class="dropdown-item" id="lang-en">English</a>
                    <a class="dropdown-item" id="lang-ru">Русский</a>
                </div>
            </div>
            <div class="button" id="burger-button"></div>
        </div>
    </header>
    <div class="burger-menu">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/team">Team</a>
    </div>
    <div class="main-container">
        {{content}}
    </div>
    <footer>
        <div class="footer-row">
            <img src="/assets/images/miramappa-logo-monochrome.png" height="30px" width="144px">
            <div>Hosted via GitHub Pages. Not associated with Minecraft, Mojang AB or Microsoft. Not an official Minecraft partner/product.</div>
        </div>
        <div class="footer-row">
            <a target="_blank" href="https://www.planetminecraft.com/group/miramappa/">Planet Minecraft</a>
            <a target="_blank" href="https://discord.gg/YQSpybSJAj">Discord Server</a>
            <a target="_blank" href="https://github.com/MiraMappa">GitHub</a>
            <p>miramappa@proton.me</p>
        </div>
    </footer>
</body>
</html>