<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} - MiraMappa</title>
    <meta name="description" content="{{page.description}}">

    <meta property="og:url" content="https://miramappa.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}} - MiraMappa">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{site.url}}/assets/images/projects/{{page.page_name}}/thumbnail.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="miramappa.github.io">
    <meta property="twitter:url" content="https://miramappa.github.io/">
    <meta name="twitter:title" content="{{page.title}} - MiraMappa">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="{{site.url}}/assets/images/projects/{{page.page_name}}/thumbnail.png">

    <meta name="theme-color" content="#8300ff"> 

    <link rel="icon" type="image/png" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/project.css">
    <script src="/assets/js/header.js" defer></script>
    <script src="/assets/js/project-page.js" defer></script>
</head>
<body>
    <header>
        <a href="/"><div class="header-logo"></div></a>
        <nav>
            <a href="/">Главная</a>
            <a href="/projects">Проекты</a>
            <a href="/team">Команда</a>
        </nav>
        <div class="button-container">
            <div class="button" id="lang-button">
                <div class="dropdown-list">
                    <a class="dropdown-item" id="lang-en">English</a>
                    <a class="dropdown-item" id="lang-ru">Русский</a>
                </div>
            </div>
            <div class="button" id="burger-button"></div>
        </div>
    </header>
    <div class="burger-menu">
        <a href="/">Главная</a>
        <a href="/projects">Проекты</a>
        <a href="/team">Команда</a>
    </div>
    <div class="main-container">
        <h1 class="project-title">{{page.title}}</h1>
        <div class="project-container">
            <div class="project-main">
                <div class="gallery">
                    <div class="gallery-big" id="gallery-big">
                    </div>
                    <div class="gallery-list" id="gallery-list">
                        {% for asset in page.media %}
                        <img class="gallery-asset gallery-{{asset.type}}" data-src="{{asset.src}}">
                        {% endfor %}
                    </div>
                </div>
                <div class="project-content">{{content}}</div>
            </div>
            <div class="project-sidebar">
                <div class="sidebar-content">
                    <img src="/assets/images/projects/{{page.page_name}}/thumbnail.png">
                    <div class="project-description">{{page.description}}</div>
                    <div class="project-summary">
                        <div class="summary-tag">
                            <div class="key">Языки:</div>
                            <div class="value">{{page.languages}}</div>
                        </div>
                        <div class="summary-tag">
                            <div class="key">Игроки:</div>
                            <div class="value">{{page.players}}</div>
                        </div>
                        <div class="summary-tag">
                            <div class="key">Версия Minecraft:</div>
                            <div class="value">{{page.mc_version}}</div>
                        </div>
                        <div class="summary-tag">
                            <div class="key">Необходимые моды:</div>
                            <div class="value">{{page.mods}}</div>
                        </div>
                        <div class="summary-tag">
                            <div class="key">Дата релиза:</div>
                            <div class="value">{{page.release_date | date: "%d.%m.%Y"}}</div>
                        </div>
                        <div class="summary-tag">
                            <div class="key">Автор(ы):</div>
                            <div class="value"><a href="/ru/team">{{page.authors}}</a></div>
                        </div>
                    </div>
                    <div class="project-tags">
                        {% assign tag_list = page.project_tags | split: ", " %}
                        {% for tag in tag_list %}
                        <div class="project-tag">{{tag}}</div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{{page.download_url}}" target="_blank"><button class="accent">Скачать</button></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-row">
            <img src="/assets/images/miramappa-logo-monochrome.png" height="30px" width="144px">
            <div>Hosted via GitHub Pages. Not associated with Minecraft, Mojang AB or Microsoft. Not an official Minecraft partner/product.</div>
        </div>
        <div class="footer-row">
            <a href="https://www.planetminecraft.com/group/miramappa/">Planet Minecraft</a>
            <a href="https://discord.gg/YQSpybSJAj">Discord Server</a>
            <a href="https://github.com/MiraMappa">GitHub</a>
            <p>miramappa@proton.me</p>
        </div>
    </footer>
</body>
</html>